@model PizzaBox.Client.Models.AccountViewModel

<form action="/Account/Login" method="POST">
	@Html.AntiForgeryToken()
	<label asp-for="@Model.Username">Username</label>
	<input type="text" asp-for="@Model.Username">
	@Html.ValidationMessageFor(avm => avm.Username)

	<label asp-for="@Model.Password">Password</label>
	<input type="password" asp-for="@Model.Password">
	@Html.ValidationMessageFor(avm => avm.Password)
	@Html.RadioButtonFor(avm => avm.Admin, false)
	<button type="submit">Login</button>
</form>
